.banner {
  position: relative;
  display: block;
  margin-top: 25px;

  .image {
    width: 100%;
    filter: brightness(70%);
  }


  .fairy_container {
    position: absolute;   
    bottom: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .fairy {
        width: 20%;
    }

    .cake {
        width: 10%;
        height: 10%;
    }
  }

  .banner_text {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    padding: 0 1.5em;
    color: var(--backgroundPrimary);

    span {
      font-family: "Pacifico", cursive;
    }
  }

  @media (min-width: 700px) {
    .banner_text {
      font-size: 16px;
    }
  }

  @media (min-width: 1080px) {
    .banner_text {
      font-size: 20px;
    }
  }
}
