.navbar_container {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	background: var(--lightGreen);
	color: white;

	@media (min-width: 1028px) {
		padding: 50px 0 20px 0;
	}

	.navbar {
		display: flex;
		justify-content: space-evenly;

		.nav_item {
			display: flex;
			align-items: center;
			cursor: pointer;

			p {
				display: none;
				transition: color 0.3s ease-in;

				@media (min-width: 768px) {
					display: inline;
					margin-right: 5px;
					font-size: 17px;
					font-weight: 600;
				}
			}

			.icon {
				font-weight: 700;
			}
		}

		.nav_item:hover {
			p {
				color: var(--lightOrange);
			}
		}

		.heading {
			display: flex;
			align-items: center;
			gap: 5px;

			h1 {
				font-weight: 600;
				font-size: 19px;
				font-family: "Pacifico", cursive;

				@media (min-width: 768px) {
					font-size: 24px;
				}
			}
		}
	}

	.social_links {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		gap: 10px;

		@media (min-width: 768px) {
			gap: 30px;
		}

		.icon {
			transition: color 0.3s ease-in;
		}

		.icon:hover {
			color: var(--lightOrange);
		}
	}
}
