@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;


  --textPrimary: #594545;
  --textSecondary: #815B5B;
  --backgroundPrimary: #FFF8EA;
  --backgroundSecondary: #684f4f;

  background: var(--backgroundPrimary);
  color: var(--textPrimary);
  font-family: 'Space Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: 700px) {
  h1 {
    font-size: 32px;
  }
}


