.about {
    padding: 100px 10%;
    margin: 100px 0;
    background: var(--backgroundSecondary);

    
    p {
        line-height: 25px;
        margin: 20px 0;
        text-align: justify;
    }
   
}