.menu_container {
    padding: 0 20%;
    margin-top: 100px;

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        width: 100%;

        @media (min-width: 700px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px
        }

        @media (min-width: 1080px) {
            gap: 70px;
        }
    }

    @media (min-width: 700px) {
        padding: 0 10%;
    }
}


.caregory {
    margin: 20px 0;
    h1 {
        font-size: 14px;
        border-bottom: 1px solid var(--textPrimary);
        padding-bottom: 10px;
    }

    sub {
        color: var(--textSecondary)
    }

    @media (min-width: 700px) {
       h1 {
        font-size: 20px;
       }
    }
}

.menu_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;

    .item_details {
        display: flex;
        align-items: center;
        margin-right: 2rem;

        .item_name {
            margin-right: .5rem;
        }

        .item_price {
            color: var(--textSecondary);
        }
    }

    .add_to_cart {
        cursor: pointer;
        margin-left: 20px;
    }
}